@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --blue-500: 228 100% 60%;

    --info: var(--blue-500);
    --info-foreground: 0 0% 98%;

    --ring: 240 5% 64.9%;

    --radius: 0.5rem;

    --neutral-0: 300 0% 100%;
    --neutral-50: 216 33% 97%;
    --neutral-100: 216 26% 96%;
    --neutral-200: 216 19% 90%;
    --neutral-300: 219 15% 82%;
    --neutral-400: 220 11% 64%;
    --neutral-500: 221 8% 48%;
    --neutral-600: 222 11% 36%;
    --neutral-700: 221 16% 20%;
    --neutral-800: 231 16% 16%;
    --neutral-900: 230 19% 12%;
    --neutral-950: 222 32% 8%;

    --neutral-alpha-24: 220 11% 64% 24%;
    --neutral-alpha-16: 220 11% 64% 16%;
    --neutral-alpha-10: 220 11% 64% 10%;

    --bg-strong: var(--neutral-950);
    --bg-surface: var(--neutral-800);
    --bg-sub: var(--neutral-300);
    --bg-soft: var(--neutral-200);
    --bg-weak: var(--neutral-50);
    --bg-white: var(--neutral-0);

    --faded-dark: var(--neutral-800);
    --faded-base: var(--neutral-500);
    --faded-light: var(--neutral-200);
    --faded-lighter: var(--neutral-100);

    --stroke-strong: var(--neutral-950);
    --stroke-sub: var(--neutral-300);
    --stroke-soft: var(--neutral-200);
    --stroke-white: var(--neutral-0);

    --text-white: var(--neutral-0);
    --text-disabled: var(--neutral-300);
    --text-soft: var(--neutral-400);
    --text-sub: var(--neutral-600);
    --text-strong: var(--neutral-950);
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 240 3.7% 15.9%;

    --bg-strong: var(--neutral-0);
    --bg-surface: var(--neutral-200);
    --bg-sub: var(--neutral-600);
    --bg-soft: var(--neutral-700);
    --bg-weak: var(--neutral-900);
    --bg-white: var(--neutral-950);

    --faded-dark: var(--neutral-300);
    --faded-base: var(--neutral-500);
    --faded-light: var(--neutral-alpha-24);
    --faded-lighter: var(--neutral-alpha-16);

    --stroke-strong: var(--neutral-0);
    --stroke-sub: var(--neutral-600);
    --stroke-soft: var(--neutral-700);
    --stroke-white: var(--neutral-950);

    --text-white: var(--neutral-950);
    --text-disabled: var(--neutral-600);
    --text-soft: var(--neutral-500);
    --text-sub: var(--neutral-400);
    --text-strong: var(--neutral-0);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.mapboxgl-ctrl-attrib {
  display: none;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}
